#project-section {
  margin-bottom: 50px;
  .hero-head {
    padding-top: 5rem;
  }
  .hero-body {
    padding: 2rem 4.5rem !important;
  }
  // .polaroid {
  //   text-align: center;
  //   img {
  //     display: block;
  //     width: 100rem;
  //     max-width: 450px;
  //     max-height: 250px;
  //     margin: 0 auto;
  //   }
  //   span {
  //     background: #ffffff;
  //     display: inline-block;
  //     padding: 15px 15px 30px;
  //     text-align: center;
  //     text-decoration: none;
  //     -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  //     -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  //     box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
  //     -webkit-transition: all .20s linear;
  //     -moz-transition: all .20s linear;
  //     transition: all .20s linear;
  //     z-index: 0;
  //     position: relative;
  //   }
  // }
}